@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--charcoal);
  padding: 5vmin;
  background-color: var(--sky);
  animation: sunset-ambiance 6s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes sunset-ambiance {
  0% {
    color: var(--charcoal);
    background-color: var(--sky);
  }

  100% {
    color: white;
    background-color: var(--twilight);
  }
}

a {
  color: yellow;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  position: absolute;
  top: 50px;
  right: 100px;
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: orange;
  cursor: pointer;
  animation: sunset 6s linear 0s 1 normal forwards;
  /* animation-duration: 6s;
  animation-iteration-count: 1; */

  /* transition-property: background, transform;
  transition-duration: 3s, 1s;
  transition-timing-function: ease-in; */

  &:hover {
    background: blue; /* Does not appear to accept or transition a second radial-gradient */
    transform: scale(2);
  }
}

@keyframes sunset {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(50vw);
  }
}

.go {
  animation: zing var(--duration) cubic-bezier(0.5, 0, 0.4, 1);
}

@keyframes zing {
  0% {
    opacity: 1;
    transform: translateX(0);
    background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  }
  50% {
    opacity: 0.2;
    transform: translateX(50vw);
    background: radial-gradient(cricle at bottom right, #2e23fb, #00d5d5);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  }
}
