:root {
  --duration: 2s;
  --bodyBgkd: rgba(255, 233, 138, 1);
  --sky: rgba(110, 243, 255, 1);
  --twilight: rgba(25, 2, 64, 1);
  --charcoal: rgba(33, 33, 33, 1);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

input,
button {
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

button {
  appearance: none;
}

// reduce or no-preference
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
